.itemH {
  height: 10.5rem;
}

.mapsH {
  height: 30rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .itemH {
    height: 7.5rem;
  }
  .mapsH {
    height: 40rem;
    margin-bottom: 0rem;
  }
}
